---

---

/////////////// Code Highlighter
// Adapted from https://gist.github.com/edwardhotchkiss/2005058


$highlightone: #586e75;
$highlighttwo: #93a1a1;
$highlightthree: #859900;
$highlightfour: #cb4b16;
$highlightfive: #2aa198;
$highlightsix: #dc322f;
$highlightseven: #268bd2;
$highlighteight: #b58900;
$highlightnine: #555;

$highlightcomment: $highlightone;
$highlighterror: $highlighttwo;
$highlightgeneric: $highlighttwo;
$highlightkeyword: $highlightthree;
$highlightliteral: $highlighttwo;
$highlightname: $highlighttwo;
$highlightoperator: #51b6c3;
$highlightother: $highlightfour;
$highlightpunctuation: #abb2bf;
$highlightcommentmultiline: $highlightone;
$highlightcommentpreproc: $highlightthree;
$highlightcommentsingle: $highlightone;
$highlightcommentspecial: $highlightthree;
$highlightgenericdeleted: $highlightfive;
$highlightgenericemph: $highlighttwo;
$highlightgenericemph: $highlighttwo;
$highlightgenericerror: $highlightsix;
$highlightgenericheading: $highlightfour;
$highlightgenericinserted: $highlightthree;
$highlightgenericoutput: $highlighttwo;
$highlightgenericprompt: $highlighttwo;
$highlightgenericstrong: $highlighttwo;
$highlightgenericsubheading: $highlightfour;
$highlightgenerictraceback: $highlighttwo;
$highlightkeywordconstant: $highlightfour;
$highlightkeyworddeclaration: #c775e0;
$highlightkeywordnamespace: $highlightthree;
$highlightkeywordpseudo: $highlightthree;
$highlightkeywordreserved: $highlightseven;
$highlightkeywordtype: $highlightsix;
$highlightliteraldate: $highlighttwo;
$highlightliteralnumber: $highlightfive;
$highlightliteralstring: $highlightfive;
$highlightnameattribute: $highlighttwo;
$highlightnamebuiltin: $highlighteight;
$highlightnameclass: $highlightseven;
$highlightnameconstant: $highlightfour;
$highlightnamedecorator: $highlightseven;
$highlightnameentity: $highlightfour;
$highlightnameexception: $highlightfour;
$highlightnamefunction: $highlightseven;
$highlightnamelabel: $highlighttwo;
$highlightnamelabel: $highlighttwo;
$highlightnamenamespace: $highlighttwo;
$highlightnameother: #abb2bf;
$highlightnameproperty: $highlighttwo;
$highlightnametag: $highlightseven;
$highlightnamevariable: $highlightseven;
$highlightoperatorword: $highlightthree;
$highlighttextwhitespace: $highlighttwo;
$highlightliteralnumberfloat: $highlightfive;
$highlightliteralnumberhex: $highlightfive;
$highlightliteralnumberinteger: $highlightfive;
$highlightliteralnumberoct: $highlightfive;
$highlightliteralstringbacktick: $highlightone;
$highlightliteralstringchar: $highlightfive;
$highlightliteralstringdoc: $highlighttwo;
$highlightliteralstringdouble: #96c475;
$highlightliteralstringescape: $highlightfour;
$highlightliteralstringheredoc: $highlighttwo;
$highlightliteralstringinterpol: $highlightfive;
$highlightliteralstringother: $highlightfive;
$highlightliteralstringregex: $highlightsix;
$highlightliteralstringsingle: $highlightfive;
$highlightliteralstringsymbol: $highlightfive;
$highlightnamebuiltinpseudo: $highlightseven;
$highlightnamevariableclass: $highlightseven;
$highlightnamevariableglobal: $highlightseven;
$highlightnamevariableinstance: $highlightseven;
$highlightliteralnumberintegerlong: $highlightfive;

@charset "utf-8";
@import "base";